<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="pecas-oponente">
		<img style="z-index:1;position:absolute;margin-top:2%;margin-left:15%;margin-bottom:10%;margin-right:30%" src="../img/black-domino.png"/>
		<img style="z-index:1;position:absolute;margin-top:2%;margin-left:25%;margin-bottom:10%;margin-right:30%" src="../img/black-domino.png"/>
		<img style="z-index:1;position:absolute;margin-top:2%;margin-left:35%;margin-bottom:10%;margin-right:30%" src="../img/black-domino.png"/>
		<img style="z-index:1;position:absolute;margin-top:2%;margin-left:45%;margin-bottom:10%;margin-right:30%" src="../img/black-domino.png"/>
		<img style="z-index:1;position:absolute;margin-top:2%;margin-left:55%;margin-bottom:10%;margin-right:30%" src="../img/black-domino.png"/>
		<img style="z-index:1;position:absolute;margin-top:2%;margin-left:65%;margin-bottom:10%;margin-right:30%" src="../img/black-domino.png"/>
		<img style="z-index:1;position:absolute;margin-top:2%;margin-left:75%;margin-bottom:10%;margin-right:30%" src="../img/black-domino.png"/>
	</div>
	<img style="z-index:-1;position:absolute;width:100%;height:160%;" src="../img/domino-background.png"/>
	<img style="z-index:0;position:absolute;margin-top:14%;margin-left:10%;margin-bottom:10%;margin-right:10%;width:80%;height:120%;opacity: 0.8;" src="../img/table.jpg"/>
	<div id="tabuleiro">
		<!--  horizontais na parte de baixo -->
		<img style="z-index:1;position:absolute;margin-top:55%;margin-left:15%;margin-bottom:10%;margin-right:30%" src="../img/horiz-small-domino-piece.png"/>
		<img style="z-index:1;position:absolute;margin-top:55%;margin-left:23%;margin-bottom:10%;margin-right:30%" src="../img/horiz-small-domino-piece.png"/>
		<img style="z-index:1;position:absolute;margin-top:55%;margin-left:31%;margin-bottom:10%;margin-right:30%" src="../img/horiz-small-domino-piece.png"/>
		<img style="z-index:1;position:absolute;margin-top:55%;margin-left:39%;margin-bottom:10%;margin-right:30%" src="../img/horiz-small-domino-piece.png"/>
		<img style="z-index:1;position:absolute;margin-top:55%;margin-left:47%;margin-bottom:10%;margin-right:30%" src="../img/horiz-small-domino-piece.png"/>
		<img style="z-index:1;position:absolute;margin-top:55%;margin-left:55%;margin-bottom:10%;margin-right:30%" src="../img/horiz-small-domino-piece.png"/>
		<img style="z-index:1;position:absolute;margin-top:55%;margin-left:63%;margin-bottom:10%;margin-right:30%" src="../img/horiz-small-domino-piece.png"/>
		<img style="z-index:1;position:absolute;margin-top:55%;margin-left:71%;margin-bottom:10%;margin-right:30%" src="../img/horiz-small-domino-piece.png"/>
		<!--  verticais na parte direita -->
		<img style="z-index:1;position:absolute;margin-top:47%;margin-left:75%;margin-bottom:18%;margin-right:30%" src="../img/small-domino-piece.png"/>
		<img style="z-index:1;position:absolute;margin-top:39%;margin-left:75%;margin-bottom:26%;margin-right:30%" src="../img/small-domino-piece.png"/>
		<img style="z-index:1;position:absolute;margin-top:31%;margin-left:75%;margin-bottom:34%;margin-right:30%" src="../img/small-domino-piece.png"/>
		<img style="z-index:1;position:absolute;margin-top:23%;margin-left:75%;margin-bottom:42%;margin-right:30%" src="../img/small-domino-piece.png"/>
		<!--  horizontais na parte superior -->
		<img style="z-index:1;position:absolute;margin-top:19%;margin-left:15%;margin-bottom:10%;margin-right:30%" src="../img/horiz-small-domino-piece.png"/>
		<img style="z-index:1;position:absolute;margin-top:19%;margin-left:23%;margin-bottom:10%;margin-right:30%" src="../img/horiz-small-domino-piece.png"/>
		<img style="z-index:1;position:absolute;margin-top:19%;margin-left:31%;margin-bottom:10%;margin-right:30%" src="../img/horiz-small-domino-piece.png"/>
		<img style="z-index:1;position:absolute;margin-top:19%;margin-left:39%;margin-bottom:10%;margin-right:30%" src="../img/horiz-small-domino-piece.png"/>
		<img style="z-index:1;position:absolute;margin-top:19%;margin-left:47%;margin-bottom:10%;margin-right:30%" src="../img/horiz-small-domino-piece.png"/>
		<img style="z-index:1;position:absolute;margin-top:19%;margin-left:55%;margin-bottom:10%;margin-right:30%" src="../img/horiz-small-domino-piece.png"/>
		<img style="z-index:1;position:absolute;margin-top:19%;margin-left:63%;margin-bottom:10%;margin-right:30%" src="../img/horiz-small-domino-piece.png"/>
		<img style="z-index:1;position:absolute;margin-top:19%;margin-left:71%;margin-bottom:10%;margin-right:30%" src="../img/horiz-small-domino-piece.png"/>
		<!--  verticais na parte esquerda -->
		<img style="z-index:1;position:absolute;margin-top:23%;margin-left:15%;margin-bottom:18%;margin-right:30%" src="../img/small-domino-piece.png"/>
		<img style="z-index:1;position:absolute;margin-top:31%;margin-left:15%;margin-bottom:26%;margin-right:30%" src="../img/small-domino-piece.png"/>
		<img style="z-index:1;position:absolute;margin-top:39%;margin-left:15%;margin-bottom:34%;margin-right:30%" src="../img/small-domino-piece.png"/>
		<!--  horizontais na parte do meio -->
		<img style="z-index:1;position:absolute;margin-top:43%;margin-left:19%;margin-bottom:10%;margin-right:30%" src="../img/horiz-small-domino-piece.png"/>
		<img style="z-index:1;position:absolute;margin-top:43%;margin-left:27%;margin-bottom:10%;margin-right:30%" src="../img/horiz-small-domino-piece.png"/>
		<img style="z-index:1;position:absolute;margin-top:43%;margin-left:35%;margin-bottom:10%;margin-right:30%" src="../img/horiz-small-domino-piece.png"/>
		<img style="z-index:1;position:absolute;margin-top:43%;margin-left:43%;margin-bottom:10%;margin-right:30%" src="../img/horiz-small-domino-piece.png"/>
		<img style="z-index:1;position:absolute;margin-top:43%;margin-left:51%;margin-bottom:10%;margin-right:30%" src="../img/horiz-small-domino-piece.png"/>
	</div>
	<div id="pecas-jogador">
		<img style="z-index:1;position:absolute;margin-top:60%;margin-left:15%;margin-bottom:10%;margin-right:30%" src="../img/domino-piece.png"/>
		<img style="z-index:1;position:absolute;margin-top:60%;margin-left:25%;margin-bottom:10%;margin-right:30%" src="../img/domino-piece.png"/>
		<img style="z-index:1;position:absolute;margin-top:60%;margin-left:35%;margin-bottom:10%;margin-right:30%" src="../img/domino-piece.png"/>
		<img style="z-index:1;position:absolute;margin-top:60%;margin-left:45%;margin-bottom:10%;margin-right:30%" src="../img/domino-piece.png"/>
		<img style="z-index:1;position:absolute;margin-top:60%;margin-left:55%;margin-bottom:10%;margin-right:30%" src="../img/domino-piece.png"/>
		<img style="z-index:1;position:absolute;margin-top:60%;margin-left:65%;margin-bottom:10%;margin-right:30%" src="../img/domino-piece.png"/>
		<img style="z-index:1;position:absolute;margin-top:60%;margin-left:75%;margin-bottom:10%;margin-right:30%" src="../img/domino-piece.png"/>
	</div>
	<div id="botao-comprar">
		<img style="z-index:1;position:absolute;margin-top:70%;margin-left:85%;margin-bottom:10%;margin-right:30%" src="../img/comprar.png"/>
	</div>
</body>
</html>